.App {
  font-family: sans-serif;
  text-align: center;
}

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.blue-box {
  background-color: #e7f3ff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
